<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.webmagic.mapper.CompanyInfoMapper">

    <resultMap id="BaseResultMap" type="com.example.webmagic.domain.CompanyInfo">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="companyName" column="company_name" jdbcType="VARCHAR"/>
            <result property="companySize" column="company_size" jdbcType="VARCHAR"/>
            <result property="companyNature" column="company_nature" jdbcType="VARCHAR"/>
            <result property="lastUpdateTime" column="last_update_time" jdbcType="TIMESTAMP"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="CHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="establishmentDate" column="establishment_date" jdbcType="TIMESTAMP"/>
            <result property="registeredCapital" column="registered_capital" jdbcType="VARCHAR"/>
            <result property="companyAddress" column="company_address" jdbcType="VARCHAR"/>
            <result property="companyWebsite" column="company_website" jdbcType="VARCHAR"/>
            <result property="legalRepresentative" column="legal_representative" jdbcType="VARCHAR"/>
            <result property="companyIntroduce" column="company_introduce" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,company_name,company_size,
        company_nature,last_update_time,delete_flag,
        create_time,create_by,update_time,
        update_by,establishment_date,registered_capital,
        company_address,company_website,legal_representative,
        company_introduce
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from company_info
        where  id = #{id,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from company_info
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.webmagic.domain.CompanyInfo" useGeneratedKeys="true">
        insert into company_info
        ( id,company_name,company_size
        ,company_nature,last_update_time,delete_flag
        ,create_time,create_by,update_time
        ,update_by,establishment_date,registered_capital
        ,company_address,company_website,legal_representative
        ,company_introduce)
        values (#{id,jdbcType=INTEGER},#{companyName,jdbcType=VARCHAR},#{companySize,jdbcType=VARCHAR}
        ,#{companyNature,jdbcType=VARCHAR},#{lastUpdateTime,jdbcType=TIMESTAMP},#{deleteFlag,jdbcType=CHAR}
        ,#{createTime,jdbcType=TIMESTAMP},#{createBy,jdbcType=VARCHAR},#{updateTime,jdbcType=TIMESTAMP}
        ,#{updateBy,jdbcType=VARCHAR},#{establishmentDate,jdbcType=TIMESTAMP},#{registeredCapital,jdbcType=VARCHAR}
        ,#{companyAddress,jdbcType=VARCHAR},#{companyWebsite,jdbcType=VARCHAR},#{legalRepresentative,jdbcType=VARCHAR}
        ,#{companyIntroduce,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.webmagic.domain.CompanyInfo" useGeneratedKeys="true">
        insert into company_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="companyName != null">company_name,</if>
                <if test="companySize != null">company_size,</if>
                <if test="companyNature != null">company_nature,</if>
                <if test="lastUpdateTime != null">last_update_time,</if>
                <if test="deleteFlag != null">delete_flag,</if>
                <if test="createTime != null">create_time,</if>
                <if test="createBy != null">create_by,</if>
                <if test="updateTime != null">update_time,</if>
                <if test="updateBy != null">update_by,</if>
                <if test="establishmentDate != null">establishment_date,</if>
                <if test="registeredCapital != null">registered_capital,</if>
                <if test="companyAddress != null">company_address,</if>
                <if test="companyWebsite != null">company_website,</if>
                <if test="legalRepresentative != null">legal_representative,</if>
                <if test="companyIntroduce != null">company_introduce,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="companyName != null">#{companyName,jdbcType=VARCHAR},</if>
                <if test="companySize != null">#{companySize,jdbcType=VARCHAR},</if>
                <if test="companyNature != null">#{companyNature,jdbcType=VARCHAR},</if>
                <if test="lastUpdateTime != null">#{lastUpdateTime,jdbcType=TIMESTAMP},</if>
                <if test="deleteFlag != null">#{deleteFlag,jdbcType=CHAR},</if>
                <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
                <if test="createBy != null">#{createBy,jdbcType=VARCHAR},</if>
                <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
                <if test="updateBy != null">#{updateBy,jdbcType=VARCHAR},</if>
                <if test="establishmentDate != null">#{establishmentDate,jdbcType=TIMESTAMP},</if>
                <if test="registeredCapital != null">#{registeredCapital,jdbcType=VARCHAR},</if>
                <if test="companyAddress != null">#{companyAddress,jdbcType=VARCHAR},</if>
                <if test="companyWebsite != null">#{companyWebsite,jdbcType=VARCHAR},</if>
                <if test="legalRepresentative != null">#{legalRepresentative,jdbcType=VARCHAR},</if>
                <if test="companyIntroduce != null">#{companyIntroduce,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.webmagic.domain.CompanyInfo">
        update company_info
        <set>
                <if test="companyName != null">
                    company_name = #{companyName,jdbcType=VARCHAR},
                </if>
                <if test="companySize != null">
                    company_size = #{companySize,jdbcType=VARCHAR},
                </if>
                <if test="companyNature != null">
                    company_nature = #{companyNature,jdbcType=VARCHAR},
                </if>
                <if test="lastUpdateTime != null">
                    last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="deleteFlag != null">
                    delete_flag = #{deleteFlag,jdbcType=CHAR},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="createBy != null">
                    create_by = #{createBy,jdbcType=VARCHAR},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateBy != null">
                    update_by = #{updateBy,jdbcType=VARCHAR},
                </if>
                <if test="establishmentDate != null">
                    establishment_date = #{establishmentDate,jdbcType=TIMESTAMP},
                </if>
                <if test="registeredCapital != null">
                    registered_capital = #{registeredCapital,jdbcType=VARCHAR},
                </if>
                <if test="companyAddress != null">
                    company_address = #{companyAddress,jdbcType=VARCHAR},
                </if>
                <if test="companyWebsite != null">
                    company_website = #{companyWebsite,jdbcType=VARCHAR},
                </if>
                <if test="legalRepresentative != null">
                    legal_representative = #{legalRepresentative,jdbcType=VARCHAR},
                </if>
                <if test="companyIntroduce != null">
                    company_introduce = #{companyIntroduce,jdbcType=VARCHAR},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.webmagic.domain.CompanyInfo">
        update company_info
        set 
            company_name =  #{companyName,jdbcType=VARCHAR},
            company_size =  #{companySize,jdbcType=VARCHAR},
            company_nature =  #{companyNature,jdbcType=VARCHAR},
            last_update_time =  #{lastUpdateTime,jdbcType=TIMESTAMP},
            delete_flag =  #{deleteFlag,jdbcType=CHAR},
            create_time =  #{createTime,jdbcType=TIMESTAMP},
            create_by =  #{createBy,jdbcType=VARCHAR},
            update_time =  #{updateTime,jdbcType=TIMESTAMP},
            update_by =  #{updateBy,jdbcType=VARCHAR},
            establishment_date =  #{establishmentDate,jdbcType=TIMESTAMP},
            registered_capital =  #{registeredCapital,jdbcType=VARCHAR},
            company_address =  #{companyAddress,jdbcType=VARCHAR},
            company_website =  #{companyWebsite,jdbcType=VARCHAR},
            legal_representative =  #{legalRepresentative,jdbcType=VARCHAR},
            company_introduce =  #{companyIntroduce,jdbcType=VARCHAR}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
