<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.webmagic.mapper.JobInfoMapper">

    <resultMap id="BaseResultMap" type="com.example.webmagic.domain.JobInfo">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="jobName" column="job_name" jdbcType="VARCHAR"/>
            <result property="companyId" column="company_id" jdbcType="INTEGER"/>
            <result property="salary" column="salary" jdbcType="VARCHAR"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="experience" column="experience" jdbcType="VARCHAR"/>
            <result property="labels" column="labels" jdbcType="VARCHAR"/>
            <result property="lastUpdateTime" column="last_update_time" jdbcType="TIMESTAMP"/>
            <result property="searchKeywords" column="search_keywords" jdbcType="VARCHAR"/>
            <result property="jobDescription" column="job_description" jdbcType="VARCHAR"/>
            <result property="jobLocation" column="job_location" jdbcType="VARCHAR"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="CHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="jobDetails" column="job_details" jdbcType="VARCHAR"/>
            <result property="education" column="education" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,job_name,company_id,
        salary,city,experience,
        labels,last_update_time,search_keywords,
        job_description,job_location,delete_flag,
        create_time,update_by,update_time,
        create_by,job_details,education
    </sql>
</mapper>
