<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.webmagic.mapper.JobInfoMapper">

    <resultMap id="BaseResultMap" type="com.example.webmagic.domain.JobInfo">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="jobName" column="job_name" jdbcType="VARCHAR"/>
            <result property="companyId" column="company_id" jdbcType="INTEGER"/>
            <result property="salary" column="salary" jdbcType="VARCHAR"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="experience" column="experience" jdbcType="VARCHAR"/>
            <result property="history" column="history" jdbcType="VARCHAR"/>
            <result property="tags" column="tags" jdbcType="VARCHAR"/>
            <result property="lastUpdateTime" column="last_update_time" jdbcType="TIMESTAMP"/>
            <result property="searchKeywords" column="search_keywords" jdbcType="VARCHAR"/>
            <result property="jobDescription" column="job_description" jdbcType="VARCHAR"/>
            <result property="jobLocation" column="job_location" jdbcType="VARCHAR"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="CHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="jobDetails" column="job_details" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,job_name,company_id,
        salary,city,experience,
        history,tags,last_update_time,
        search_keywords,job_description,job_location,
        delete_flag,create_time,update_by,
        update_time,create_by,job_details
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from job_info
        where  id = #{id,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from job_info
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.webmagic.domain.JobInfo" useGeneratedKeys="true">
        insert into job_info
        ( job_name,company_id
        ,salary,city,experience
        ,history,tags,last_update_time
        ,search_keywords,job_description,job_location
        ,delete_flag,create_time,update_by
        ,update_time,create_by,job_details,education
        )
        values (#{jobName,jdbcType=VARCHAR},#{companyId,jdbcType=INTEGER}
               ,#{salary,jdbcType=VARCHAR},#{city,jdbcType=VARCHAR},#{experience,jdbcType=VARCHAR}
               ,#{history,jdbcType=VARCHAR},#{tags,jdbcType=VARCHAR},#{lastUpdateTime,jdbcType=TIMESTAMP}
               ,#{searchKeywords,jdbcType=VARCHAR},#{jobDescription,jdbcType=VARCHAR},#{jobLocation,jdbcType=VARCHAR}
               ,#{deleteFlag,jdbcType=CHAR},#{createTime,jdbcType=TIMESTAMP},#{updateBy,jdbcType=VARCHAR}
               ,#{updateTime,jdbcType=TIMESTAMP},#{createBy,jdbcType=VARCHAR},#{jobDetails,jdbcType=VARCHAR},#{education,jdbcType=VARCHAR}
               )
    </insert>

    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.webmagic.domain.JobInfo" useGeneratedKeys="true">
        insert into job_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="jobName != null">job_name,</if>
                <if test="companyId != null">company_id,</if>
                <if test="salary != null">salary,</if>
                <if test="city != null">city,</if>
                <if test="experience != null">experience,</if>
                <if test="history != null">history,</if>
                <if test="tags != null">tags,</if>
                <if test="lastUpdateTime != null">last_update_time,</if>
                <if test="searchKeywords != null">search_keywords,</if>
                <if test="jobDescription != null">job_description,</if>
                <if test="jobLocation != null">job_location,</if>
                <if test="deleteFlag != null">delete_flag,</if>
                <if test="createTime != null">create_time,</if>
                <if test="updateBy != null">update_by,</if>
                <if test="updateTime != null">update_time,</if>
                <if test="createBy != null">create_by,</if>
                <if test="jobDetails != null">job_details,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="jobName != null">#{jobName,jdbcType=VARCHAR},</if>
                <if test="companyId != null">#{companyId,jdbcType=INTEGER},</if>
                <if test="salary != null">#{salary,jdbcType=VARCHAR},</if>
                <if test="city != null">#{city,jdbcType=VARCHAR},</if>
                <if test="experience != null">#{experience,jdbcType=VARCHAR},</if>
                <if test="history != null">#{history,jdbcType=VARCHAR},</if>
                <if test="tags != null">#{tags,jdbcType=VARCHAR},</if>
                <if test="lastUpdateTime != null">#{lastUpdateTime,jdbcType=TIMESTAMP},</if>
                <if test="searchKeywords != null">#{searchKeywords,jdbcType=VARCHAR},</if>
                <if test="jobDescription != null">#{jobDescription,jdbcType=VARCHAR},</if>
                <if test="jobLocation != null">#{jobLocation,jdbcType=VARCHAR},</if>
                <if test="deleteFlag != null">#{deleteFlag,jdbcType=CHAR},</if>
                <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
                <if test="updateBy != null">#{updateBy,jdbcType=VARCHAR},</if>
                <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
                <if test="createBy != null">#{createBy,jdbcType=VARCHAR},</if>
                <if test="jobDetails != null">#{jobDetails,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.webmagic.domain.JobInfo">
        update job_info
        <set>
                <if test="jobName != null">
                    job_name = #{jobName,jdbcType=VARCHAR},
                </if>
                <if test="companyId != null">
                    company_id = #{companyId,jdbcType=INTEGER},
                </if>
                <if test="salary != null">
                    salary = #{salary,jdbcType=VARCHAR},
                </if>
                <if test="city != null">
                    city = #{city,jdbcType=VARCHAR},
                </if>
                <if test="experience != null">
                    experience = #{experience,jdbcType=VARCHAR},
                </if>
                <if test="history != null">
                    history = #{history,jdbcType=VARCHAR},
                </if>
                <if test="tags != null">
                    tags = #{tags,jdbcType=VARCHAR},
                </if>
                <if test="lastUpdateTime != null">
                    last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="searchKeywords != null">
                    search_keywords = #{searchKeywords,jdbcType=VARCHAR},
                </if>
                <if test="jobDescription != null">
                    job_description = #{jobDescription,jdbcType=VARCHAR},
                </if>
                <if test="jobLocation != null">
                    job_location = #{jobLocation,jdbcType=VARCHAR},
                </if>
                <if test="deleteFlag != null">
                    delete_flag = #{deleteFlag,jdbcType=CHAR},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateBy != null">
                    update_by = #{updateBy,jdbcType=VARCHAR},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="createBy != null">
                    create_by = #{createBy,jdbcType=VARCHAR},
                </if>
                <if test="jobDetails != null">
                    job_details = #{jobDetails,jdbcType=VARCHAR},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.webmagic.domain.JobInfo">
        update job_info
        set 
            job_name =  #{jobName,jdbcType=VARCHAR},
            company_id =  #{companyId,jdbcType=INTEGER},
            salary =  #{salary,jdbcType=VARCHAR},
            city =  #{city,jdbcType=VARCHAR},
            experience =  #{experience,jdbcType=VARCHAR},
            history =  #{history,jdbcType=VARCHAR},
            tags =  #{tags,jdbcType=VARCHAR},
            last_update_time =  #{lastUpdateTime,jdbcType=TIMESTAMP},
            search_keywords =  #{searchKeywords,jdbcType=VARCHAR},
            job_description =  #{jobDescription,jdbcType=VARCHAR},
            job_location =  #{jobLocation,jdbcType=VARCHAR},
            delete_flag =  #{deleteFlag,jdbcType=CHAR},
            create_time =  #{createTime,jdbcType=TIMESTAMP},
            update_by =  #{updateBy,jdbcType=VARCHAR},
            update_time =  #{updateTime,jdbcType=TIMESTAMP},
            create_by =  #{createBy,jdbcType=VARCHAR},
            job_details =  #{jobDetails,jdbcType=VARCHAR}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
