<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.webmagic.mapper.UserConfigMapper">

    <resultMap id="BaseResultMap" type="com.example.webmagic.domain.UserConfig">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="configName" column="config_name" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="keyword" column="keyword" jdbcType="VARCHAR"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="CHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,config_name,user_id,
        city,keyword,delete_flag,
        create_time,update_time
    </sql>
    <select id="listActiveConfigs" resultType="com.example.webmagic.domain.UserConfig">
        SELECT * FROM user_config WHERE delete_flag = 'N'
    </select>
</mapper>
